@import 'variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 50px;
  background: $Very-Light-Gray;
  font-family: 'Karla', sans-serif;
}

.logo {
  width: 112px;
  padding: 0 1rem;

  .logo__image {
    width: 100%;
    height: 20px;
  }
}

.hamburger {
  width: 33px;
  padding: 0 1rem;

  .hamburger__image {
    // background-image: url('../images/icon-hamburger.svg');
    // background-repeat: no-repeat;
    width: 100%;
    height: 33px;
  }

  .hamburger__image.active {
    // background-image: url('../images/icon-close.svg');
  }
}
